.rotation{
    animation: pokeballRotate 2s infinite;
}
.spinner{ 
    box-sizing: border-box;
    padding-top: 25px;
    width: 200px;
    height: 200px;
}

@keyframes pokeballRotate {
    100% { transform: rotate(360deg); }
}